.login{
    background-color: var(--colorGrisClaro);
}

.login section{
    padding: 10px 30px;
}

.login section .formBox{
    padding: 15px 0;
}

.login section .formBox input{
    padding: 10px;
    width: 100%;
    border: none;
}

.login section .buttons{
    text-align: center;
    padding: 10px;
}

.login section .buttons a{
    color: white;
    background-color: var(--colorCeleste);
    text-decoration: none;
    border-radius: 5px;
    padding: 2%;
}

@media (min-width: 768px) {

    .login section{
        padding: 15px 60px;
    }

    .login section .buttons{
        padding: 20px;
    }
}

@media (min-width: 1024px) {

    .login section{
        padding: 15px 150px;
    }

    .login section .buttons{
        padding: 30px;
    }
}