.login{
    background-color: var(--colorGrisClaro);
}

.login section{
    width: 80%;
    margin: 20px auto;
}

.login section .formBox{
    margin: 10px 0;
}

.login section .formBox input{
    margin: 5px 0;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5%;
}

.login section .buttons{
    text-align: center;
    margin: 20px;
}

.login section .buttons a{
    color: white;
    background-color: var(--colorCeleste);
    text-decoration: none;
    border-radius: 5px;
    padding: 2%;
}